*.swp
*.bak
*~
~*
*~*
*\#
\#*
*\#*
.authinfo
.gnus.el
dconf*
dolphinrc
guix
kde.org
neofetch
qt5ct
session
pulse
xfce4
QtProject.conf
Slack
calibre
cef_user_data
obsidian
unity3d
mime*
Thunar
password*
Multilogin
gtk*
cni
lxc
VSCodium
balena-etcher
chromium
nicotine
ol.ini
transmission
glib*
libreoffice/
mbsyncrc
alacritty/
epr/
*hotmail*
menus/
Wasteland*
*.db
.local/
*environment.d/
*user-dirs.dirs
*user-dirs.locale
