! Font 
!XTerm*XftFont: 					Bitstream Vera Sans Mono:size=16:antialias=true
Xterm*font: 					Bitstream Vera Sans Mono:size=12:antialias=true
XTerm*faceName: Bitstream Vera Sans Mono
XTerm*faceSize: 12
! Color of UI Components
!XTerm*.SimpleMenu.background:   #000000
!XTerm*.SimpleMenu.foreground:   #ffffff
!XTerm*background:				black
!XTerm*foreground:				white
! hard contrast: *background: #1d2021
*background: #282828
! soft contrast: *background: #32302f
*foreground: #ebdbb2
! Black + DarkGrey
*color0:  #282828
*color8:  #928374
! DarkRed + Red
*color1:  #cc241d
*color9:  #fb4934
! DarkGreen + Green
*color2:  #98971a
*color10: #b8bb26
! DarkYellow + Yellow
*color3:  #d79921
*color11: #fabd2f
! DarkBlue + Blue
*color4:  #458588
*color12: #83a598
! DarkMagenta + Magenta
*color5:  #b16286
*color13: #d3869b
! DarkCyan + Cyan
*color6:  #689d6a
*color14: #8ec07c
! LightGrey + White
*color7:  #a89984
*color15: #ebdbb2

! Mouse cursor configuration, I prefer to keep it simple.
XTerm*cursorTheme: gentoo-blue
XTerm*pointerShape:             left_ptr
XCursor.size: 42

! Tone down the Xaw3D effect.
XTerm*shapeStyle:               Rectangle
XTerm*beNiceToColormap:         false
XTerm*relief:                   None
XTerm*highlightThickness:       0

! Dont automatically jump to the bottom on output, but do on keypress.
XTerm*scrollTtyOutput:          false
XTerm*scrollKey:                true
XTerm*scrollBar:                false
XTerm*eightBitInput:            false
XTerm*cursorBlink:              true
XTerm.vt100.saveLines: 4096

! Fix the copy paste BS
XTerm*vt100.translations: #override \
    Shift Ctrl <Key> C: copy-selection(CLIPBOARD) \n\
    Shift Ctrl <Key> V: insert-selection(CLIPBOARD)

